*{
    margin: 0;
    padding: 0;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 15%;
}

input{
    border-radius: 10%;
    padding: 2%;
    width: 24%;
    display: block;
    margin: 20px 20px 20px 40px;
    background-color: azure;
    text-align: center;
}

button{
    border-radius: 5%;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 15%;
}

.container-array, .container-numbers, .container-numGoal{
    background-color: bisque;
    border-radius: 5px;
}

.container-array{
    position: absolute;
    width: 20%;
    height: 20%;
    padding: 10px;
    top: 10%;
    left: 10%;
}

.container-numbers{
    position: absolute;
    width: 20%;
    height: 20%;
    padding: 10px;
    top: 10%;
    left: 70%;
}

.container-numGoal{
    position: absolute;
    width: 20%;
    height: 20%;
    padding: 10px;
    top: 10%;
    left: 40%;
}

.container-results{
    padding: 20px;
    margin: 20% 20% 0% 20%;
}

.outR{
    background-color: rgb(130, 255, 130);
    padding: 10px;
    border-radius: 4%;
    box-sizing: border-box;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.numObj{
    background-color: black;
    color: white;
    text-align: center;
    width: 20%;
    margin-top: -6%;
    padding: 10px;
    border-radius: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#resultContainer{
    background-color: black;
    width: 20%;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 4%;
    margin-left: 65%;
    font-size: 20px;
    position: absolute;
    margin-top: -4.5%;
}

#initSum{
    position: absolute;
    margin-left: 10%;
    margin-top: -4.5%;
}

#messageError1, #messageError2, #messageError3{
    position: absolute;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 90%;
    margin-top: 17%;
    border-radius: 5%;
    padding: 5px;
}




